body{
    margin:0;
    padding: 0;
    background: #efefef;
}
nav{
    background: #1876f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}
.logo{
    width: 160px;
    margin-right: 45px;

}
.nav-left-sec{
    display: flex;
    align-items: center;
}
.nav-left-sec ul li{
    list-style: none;
    display: inline-block;
}
.nav-left-sec ul li img{
    width: 28px;
    margin: 0 15px;
}